{% extends 'index.html' %}
{% block section %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href={{ url_for('static', path="/assets/css/cropper.css" ) }}>
</head>

<body>
  <div id="contact-section" class="pad-sec">
    <div class="container">
      <div class="title-section text-center animated out" data-animation="fadeInUp" data-delay="0">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2>Wellcome!</h2>
            <hr>
            <p>Log in to be able to generate your dataset.</p>
          </div>
        </div>
        <!-- form fields -->
        <form method= "POST" action="/cropImages/" method="post" name="login" id="login"
          class="animated fadeInUp in" data-animation="fadeInUp" data-delay="0">

          <fieldset>
            <div class="form-group">
              <input class="form-control br-b" type="email" name="email" id="email" placeholder="Email">
            </div>

            <div class="form-group">
              <input class="form-control br-b" type="password" name="password" id="password" placeholder="Password">
            </div>

            <div class="form-group">
              <p style="color: red;" id="error-message" >Your password may me incorrect :(</p>
            </div>

          </fieldset>

          <!-- submit button -->
          <div class="form-group">
            <input type="submit" name="submit" value="Send message" id="submit" class="btn btn-sm btn-dark">
          </div>
        </form>
      </div>
    </div>
  </div>

    <script src="https://unpkg.com/jquery@3/dist/jquery.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap@4/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script>
      window.addEventListener('DOMContentLoaded', function () {
        var error = document.querySelector('error-message');
        error.style.display = "none";
        
        const form = document.querySelector('form');
        form.addEventListener('submit', (event) => {
          event.preventDefault();
          const formData = new FormData(form);
          fetch('/check-password/', {
            method: 'POST',
            body: formData
          }).then(response => response.text())
            .then(result => {
              if (result === 'correct') {
                
              } else {
                error.style.display = "inline";
              }
            });
        });
      });
  </script>
  {% endblock %}