{% extends 'index.html' %}

    {% block hero %}

  <!-- Hero
  ================================================== -->
    <section>
      <div id="hero-section" class="landing-hero" data-stellar-background-ratio="0">
        <div class="hero-content">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">

                <div class="hero-text">
                  <div class="herolider">
                    <ul class="caption-slides">

                      <li class="caption">
                        <h1>Dataset Generator</h1>
                        <div class="div-line"></div>
                        <p class="hero">Oier Mentxaka</p>
                      </li>

                      <li class="caption">
                        <h1>Teknei</h1>
                        <div class="div-line"></div>
                        <p class="hero">Stable diffusion</p>
                      </li>

                      <li class="caption">
                        <h1>Universidad de Deusto</h1>
                        <div class="div-line"></div>
                        <p class="hero">HTML5 &amp; CSS3</p>
                      </li>

                    </ul>
                  </div> <!-- end herolider -->
                </div> <!-- end hero-text -->
              </div> <!-- end col-md-6 -->
            </div> <!-- end row -->
          </div> <!-- End container -->
        </div> <!-- End hero-content -->
      </div> <!-- End hero-section -->
    </section>

        {% endblock %}
