{% extends 'index.html' %}
{% block section %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href={{ url_for('static', path="/assets/css/cropper.css" ) }}>
</head>

<body>
  <div id="contact-section" class="pad-sec">
    <div class="container">
      <div class="title-section text-center animated out" data-animation="fadeInUp" data-delay="0">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2>Upload and crop your images!</h2>
            <h3>{{name}}</h3>
            <hr>
            <p>It is necesary for this code to receive the pictures in the correct format and size. Due to this, it will
              be neccesary to crop all the pictures. Be careful! If you add the same session name as before, your
              earlier work will be overided :).</p>
          </div>
        </div>
        <form method="POST" action="/cropImages/" class="animated out" id="form" data-animation="fadeInUp"
          data-delay="0" enctype="multipart/form-data">
          <div class="form-group">
            <label for="session-name">Session name:</label>
            <input class="form-control br-b" type="text" id="session-name" name="sessionName" required>
            <br>
            <label for="UploadFiles">Add the images you want to upload:</label>
            <input class="form-control br-b" type="file" id="file-input" name="files" accept="image/*" multiple
              requited>
            <br>
            <button type="button" class="btn btn-primary" id="crop-button">Crop images</button>
            <button type="button" class="btn btn-primary" id="upload-button">Upload Images</button>
          </div>
        </form>
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Cropper</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="img-container">
                  <img id="image" src="" alt="Picture">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="next-button">Next</button>
              </div>
            </div>
          </div>
        </div>
        <form id="upload-form" action="your-server-side-script-url" method="post" enctype="multipart/form-data">
          <input type="hidden" name="image-data" id="image-data-input" value="">
          <input type="hidden" name="current-image" id="current-image-input" value="0">
        </form>
      </div>

    </div>
    <script src="https://unpkg.com/jquery@3/dist/jquery.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap@4/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src={{ url_for('static', path="/assets/js/cropper.js" ) }}></script>
    <script>
      window.addEventListener('DOMContentLoaded', function () {
        //form
        var form = document.querySelector('form');

        // Session name
        var sessionName = document.getElementById('session-name');

        // File input element
        var fileInput = document.getElementById('file-input');

        // Crop button
        var cropButton = document.getElementById('crop-button');

        // Next button
        var nextButton = document.getElementById('next-button');

        // Upload button
        var uploadButton = document.getElementById('upload-button');

        // Image element
        var image = document.getElementById('image');

        // Image data input element
        var imageDataInput = document.getElementById('image-data-input');

        // Current image input element
        var currentImageInput = document.getElementById('current-image-input');

        // Array to store image URLs
        var imageCanvas = [];

        // Index to keep track of current image
        var currentImage = 0;

        // Cropper instance
        var cropper;

        // initial state
        uploadButton.style.display = "none";

        // Handle file input change event
        fileInput.addEventListener('change', function (event) {
          // Get selected files
          const files = fileInput.files;

          for (const file of files) {
            const reader = new FileReader();
            reader.addEventListener("load", function () {
              imageCanvas.push(reader.result)
            }, false);
            reader.readAsDataURL(file);
          }
        });

        // Handle crop button click event
        cropButton.addEventListener('click', function () {

          if (sessionName.value == "") {
            alert("Please enter a session name!");
            return;
          }
          if (imageCanvas.length == 0) {
            alert("Please select at least one image!");
            return;
          }

          cropButton.style.display = "none";

          // Open modal
          $('#modal').modal('show');

          // Set the src of the image element to the current image URL
          image.src = imageCanvas[currentImage];

          // Initialize cropper
          cropper = new Cropper(image, {
            aspectRatio: 1,
          });
        });

        // Handle next button click event
        nextButton.addEventListener('click', function () {

          // Get the cropped image data URL
          const cropedCanvas = cropper.getCroppedCanvas({ width: 512, height: 512 })
          console.log(cropedCanvas)

          imageCanvas[currentImage] = cropedCanvas;
          currentImage++;
          if (currentImage < imageCanvas.length) {
            // set the src of the image element to the next image URL
            image.src = imageCanvas[currentImage];
            cropper.destroy();
            cropper = new Cropper(image, {
              aspectRatio: 1
            });
          } else {
            // all image are cropped, now show the upload button
            console.log(imageCanvas)

            nextButton.style.display = "none";
            $('#modal').modal('hide');
            uploadButton.style.display = "inline";

          }
        });


        uploadButton.addEventListener('click', async function () {
          const sessionName = document.getElementById('session-name').value;

          const formData = new FormData();

          for (let i = 0; i < imageCanvas.length; i++) {
            // FIXME change from canvas to File


            const canvas = imageCanvas[i];
            const fileName = "image" + i + ".png";


            const dataURL = canvas.toDataURL();
            const base64Data = dataURL.split(',')[1];
            const binaryData = atob(base64Data);
            const byteArray = new Uint8Array(binaryData.length);
            for (let j = 0; j < binaryData.length; j++) {
              byteArray[j] = binaryData.charCodeAt(j);
            }
            const file = new File([byteArray], fileName, { type: 'image/png' });
            formData.append("files", file)
          }

          formData.append("sessionName", sessionName);

          fetch("/cropImages/", {
            method: "POST",
            body: formData
          })
          window.location.href = '/train/'
        });



      });
    </script>
  </div>
  {% endblock %}