{% extends 'index.html' %}

{% block section %}

<!-- Contact-section CSS
    ================================================== -->
    <section>
        <div id="contact-section" class="pad-sec">
  
          <div class="container">
  
            <div class="title-section text-center animated out" data-animation="fadeInUp" data-delay="0">
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                    <h2>Upload your files!</h2>
                    <hr>
                    <p>Upload your files for the training phase here, take into account that the files should be PNG, JPG or JPEG.</p>
                </div>
              </div> <!-- End row -->
            </div> <!-- end title-section -->
  
            <div class="form-wrapper">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <!-- choose different files from the local folder -->
                  <form action="/cropImages/" method="post" class="animated out" data-animation="fadeInUp" data-delay="0" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="sessionName">Session name:</label>
                        <input class="form-control br-b" type="text" id="sessionName" name="sessionName" required>
                        <br>
                        <label for="UploadFiles">Add the images you want to upload:</label>
                        <input class="form-control br-b" type="file" id="files" name="files" accept="image/*" multiple requited>
                        <br>
                        <input type="submit" name="submit" value="Send images" id="submit" class="btn btn-sm btn-dark">
                    </div>                    
                  </form>
  
                </div> <!-- end col-md-8 -->
              </div> <!-- end row -->
            </div>  <!-- end form-wrapper -->
  
          </div> <!-- end container -->
  
        </div> <!-- End contact-section -->
      </section>

{% endblock %}
    